{{ partial:partials/nav }}

<header class="hero-image">
    {{ if hero_image }}
    {{ hero_image }}
    <img src="{{ config:app:url }}/assets/{{ path }}" />
    {{ /hero_image }}
    {{ else }}
    <img src="{{ config:app:url }}/assets/hero-images/hero-generic.jpg" />
    {{ /if }}
    <h2 class="title-main title-main--about">{{ title }}</h2>
</header>
<main class="dept-main">
    <section class="dept-content">
        <article class="dept-description">
            {{ content | widont }}
        </article>
        <aside class="dept-overview">
            {{ overview }}
        </aside>
    </section>
    <section class="dept-resources">
        <h3 class="dept-resources__title">{{ resources_title }}Training Resources</h3>
        <ul class="dept-resources__list">
        </ul>
    </section>
</main>
