<header class="site-header">
    <a href="/" class="site-logo">
        <img src="assets/ctce-logo.svg" />
    </a>
    <h1 class="site-title">Team Intranet</h1>
</header>
<nav class="nav">
    <img class="menu-icon" src="assets/burger-menu.svg" onclick="toggleMenu(this)">

    <ul class="site-menu" role="navigation">
        {{ nav:main_menu }}
        <li data-icon="+" class="menu-item menu-item--s">
            <a href="{{ url }}" {{ if is_current || is_parent }} class="current"{{ /if }}>{{ title }}</a>
            {{ if children }}
                <div class="wrapper">
                    <div>
                        <ul class="sub-menu">
                            {{ *recursive children* }}
                        </ul>
                    </div>
                </div>
            {{ /if }}
        </li>
        {{ /nav:main_menu }}
    </ul>

</nav>

<script>

// Hide mobile menu initially on page load

const nav = document.querySelector(".site-menu");
nav.classList.add("hide");

// Set up click event for toggling mobile menu

const toggleMenu = () => {
    const navigation = document.querySelector(".site-menu");
    const burgerMenu = document.querySelector(".menu-icon");
    const src = burgerMenu.getAttribute("src");
    const isBurger = src === "assets/burger-menu.svg";
    const iconName = isBurger ? "assets/close.svg" : "assets/burger-menu.svg";

    navigation.classList.remove("hide");

burgerMenu.setAttribute("src", iconName);

    if (!isBurger) {
        navigation.classList.add("navigation--mobile--fadeout");
        burgerMenu.classList.toggle("open");
        navigation.classList.toggle("navigation--mobile");
    }
    else {
        navigation.classList.remove("navigation--mobile--fadeout");
        burgerMenu.classList.toggle("open");
        navigation.classList.toggle("navigation--mobile");
    }
};


// Submenu mobile

const menuItem = document.querySelector(".menu-item--s");
const subMenu = document.getElementsByClassName("menu-item--s");

console.log(menuItem)

for (i = 0; i < subMenu.length; i++) {
    subMenu[i].addEventListener("click", function () {
        this.classList.toggle("active");
        let accordionContent = this.querySelector(".sub-menu");
        accordionContent.classList.toggle("open");
    });
}



</script>
