<header class="site-header">
    <a href="/" class="site-logo">
        <img src="assets/ctce-logo.svg" />
    </a>
    <h1 class="site-title">Team Intranet</h1>
</header>
<nav class="nav">
    <img class="menu-icon" src="assets/burger-menu.svg" onclick="toggleMenu(this)">
    <a href="#" class="nav-toggle" onclick="slideMenu(this)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="nav-toggle">
            <path
                d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"
            />
            <path
                d="M13.293 7.293 8.586 12l4.707 4.707 1.414-1.414L11.414 12l3.293-3.293-1.414-1.414z"
            />
        </svg>
    </a>

    <ul class="site-menu" role="navigation">
        {{ nav:main_menu }}
        <li data-icon="+" class="menu-item menu-item--s">
            <a href="{{ url }}" {{ if is_current || is_parent }} class="current"{{ /if }}>{{ title }}</a>
            {{ if children }}
                <div class="wrapper">
                    <div>
                        <ul class="sub-menu">
                            {{ *recursive children* }}
                        </ul>
                    </div>
                </div>
            {{ /if }}
        </li>
        {{ /nav:main_menu }}
    </ul>

</nav>

<script>

// Hide mobile menu initially on page load

const nav = document.querySelector(".site-menu");
nav.classList.add("hide");

// Set up click event for toggling mobile menu

const toggleMenu = () => {
    const navigation = document.querySelector(".site-menu");
    const burgerMenu = document.querySelector(".menu-icon");
    const src = burgerMenu.getAttribute("src");
    const isBurger = src === "assets/burger-menu.svg";
    const iconName = isBurger ? "assets/close.svg" : "assets/burger-menu.svg";

    navigation.classList.remove("hide");

burgerMenu.setAttribute("src", iconName);

    if (!isBurger) {
        navigation.classList.add("navigation--mobile--fadeout");
        burgerMenu.classList.toggle("open");
        navigation.classList.toggle("navigation--mobile");
    }
    else {
        navigation.classList.remove("navigation--mobile--fadeout");
        burgerMenu.classList.toggle("open");
        navigation.classList.toggle("navigation--mobile");
    }
};


// Submenu mobile

const menuItem = document.querySelector(".menu-item--s");
const subMenu = document.getElementsByClassName("menu-item--s");

console.log(menuItem)

for (i = 0; i < subMenu.length; i++) {
    subMenu[i].addEventListener("click", function () {
        this.classList.toggle("active");
        let accordionContent = this.querySelector(".sub-menu");
        accordionContent.classList.toggle("open");
    });
}

// Slide menu desktop

const navToggle = document.querySelector(".nav-toggle");

const slideMenu = () => {
    const targetBody = document.querySelector("body");

    console.log(targetBody);

    targetBody.classList.toggle("menu-slidein");
}



</script>
