// Mobile Version

@media (max-width: $breakpoint) {
    .hero-image {
        position:                   relative;
        aspect-ratio:               16/9;
        width:                      100vw;
        max-height:                 40vh;

        img {
            width:                  100%;
            height:                 100%;
            object-fit:             cover;
        }
    }
    .title-main {
        color:                    white;
        font-weight:                600;
        font-size:                  clamp(1.8rem, 3vw, 2.8rem);
        --bg:                       var(--ctce-red-x);
        background:                 rgba(var(--bg), .7);
        display:                    inline-block;
        padding:                    1.2rem 1.8rem;
        padding-left:               2rem;
        padding-right:              2.5rem;
        margin:                     0;
        border-top-right-radius:    8rem;
        border-bottom-right-radius: 8rem;
        position:                   absolute;
        left:                       0;
        bottom:                     -2.2rem;
    }
    .content-main {
        padding:        calc(1.5rem + 4vw);
        font-size:      clamp(1.2rem, 4vw, 1.5rem);
        color:        rgba(255,255,255,0.9);
        transition:     all .3s ease-out;
    }
}

// Desktop version

@media (min-width: $breakpoint) {

    .hero-image {
        padding-top:                var(--header-height);
        margin-left:               var(--lg-menu-width);
        max-height:                 45vh;
        overflow:                   hidden;
        position:                   relative;
        transition:                 all .3s ease-out;

        img {
            width:                  100%;
            height:                 100%;
            object-fit:             cover;
        }
    }

    .title-main {
        color:                    white;
        font-weight:                600;
        font-size:                  clamp(1.8rem, 3vw, 2.8rem);
        --bg:                       var(--ctce-red-x);
        background:                 rgba(var(--bg), .7);
        display:                    inline-block;
        padding:                    1.2rem 1.8rem;
        padding-left:               2rem;
        padding-right:              2.5rem;
        margin:                     0;
        border-top-right-radius:    8rem;
        border-bottom-right-radius: 8rem;
        position:                   absolute;
        left:                       0;
        bottom:                     2.3rem;
    }

    .title-main--about {
        --bg:       var(--ctce-lightblue-x);
    }

    .content-main {
        background:     var(--ctce-darkblue);
        padding:        2rem 3.5rem 1.5rem;
        position:       relative;
        color:          rgba(255,255,255,0.9);
        font-weight:    100;
        font-size:      clamp(1.2rem, 2.7vw, 1.6rem);
        margin-left:    var(--lg-menu-width);
        line-height:    1.45;
        transition:     all .3s ease-out;

        h3 ~ p {
            margin-top: .8rem;
        }

        hr {
            border-top: 1px solid var(--ctce-lightblue);
            border-bottom: none;
        }

        h3 {
            margin-bottom: .2rem;
        }
    }

}

// Common Styles

.page-about .title-main {
    --bg:                       var(--ctce-lightblue-x);
}

.page-team .title-main {
    --bg:                       var(--ctce-red-x);
}
